doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/scripts/allfiles.js")
    body
        p Welcome #{username} You Have Access!
