doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="/scripts/allfiles.js")
    body
        p #{username}'s Local Manager
        hr

        ul(id='list')