extends layout

block content
    form(action='/register', method='POST')
        label(for='email') E-mail
        br
        input(type='text', id='email', name='email')
        br
        br
        label(for='name') Name
        br
        input(type='text', id='name', name='name')
        br
        br
        label(for='username') Username
        br
        input(type='text', id='username', name='username')
        br
        label(for='password') Password
        br
        input(type='text', id='password', name='password')
        br
        br
        input(type='submit' value='submit')
        br
        br
        span= message
